{% extends 'base.html' %}
{% block content %}

<form action='/manufacturers' method="POST">

    <table>

<tr><th><label for='name'>Name:</label></th>
<td><input type='text' id='name' name='name' required></td>

<tr><th><label for='phone'>Phone:</label></th>
<td><input type='text' id='phone' name='phone' required></td>

<tr><th><label for='email'>Email:</label></th>
<td><input type='text' id='email' name='email' required></td>

<tr><th><label for='website'>Website:</label></th>
<td><input type='text' id='website' name='website' required></td>

</table>

<button type="submit" class='sexy-button'>Add Manufacturer</button>



</form>

{% endblock %}
