{% extends 'base.html' %}
{% block content %}

<form class='edit-form' action='/manufacturers/{{manufacturer.id}}' method="POST">

<label for='name'>Name:</label>
<input type='text' id='name' name='name' value='{{manufacturer.name}}' required>
<br><br>
<label for='phone'>Phone:</label>
<input type='text' id='phone' name='phone' value='{{manufacturer.phone}}' required>
<br><br>
<label for='email'>Email:</label>
<input type='text' id='email' name='email' value='{{manufacturer.email}}' required>
<br><br>
<label for='website'>Website:</label>
<input type='text' id='website' name='website' value='{{manufacturer.website}}' required>
<br><br>
<button type="submit" class='button'>Submit changes</button>
<br><br>
</form>

{% endblock %}
