{% extends 'base.html' %}
{% block content %}



<table>

<tr><th>Manufacturer</th><th>Phone</th><th>Email<th>Website</th></tr>

{% for manufacturer in manufacturers %}
<tr><td><a href='/manufacturers/{{manufacturer.id}}'>{{manufacturer.name}}</a></td><td>{{manufacturer.phone}}</td><td><a href=''>{{manufacturer.email}}</a></td><td><a href=''>{{manufacturer.website}}</a></td></tr>
{% endfor %}

</table>
<br>
<br>
<br>
<a href='/manufacturers/create-new'>Create New Manufacturer</a><br>

{% endblock %}
