{% extends 'base.html' %}
{% block content %}



<table>

<tr><th>Manufacturer</th><th>Phone</th><th>Email<th>Website</th><th colspan="2">Actions</th></tr>

{% for manufacturer in manufacturers %}
<tr><td><a href='/manufacturers/{{manufacturer.id}}'>{{manufacturer.name}}</a></td>
    <td>{{manufacturer.phone}}</td>
    <td><a href=''>{{manufacturer.email}}</a></td>
    <td><a href=''>{{manufacturer.website}}</a></td>
    <td><a href='/manufacturers/{{manufacturer.id}}/edit'><button class='sexy-button'>Edit</button></a></td>
    <td><form action="manufacturers/{{manufacturer.id}}/delete" method="POST"><button class='sexy-button'>Delete</button></form></td></tr>

{% endfor %}

</table>
<br>
<a href='/manufacturers/create-new' class='sexy-button bottom-links'>Add new manufacturer</a><br>
{% endblock %}
