{% extends 'base.html' %}
{% block content %}

<div class='info-container'>

<table>

<tr><th><h4>Name</h4> </th> <td>{{manufacturer.name}}</td>

<tr><th><h4>Phone</h4> </th> <td>{{manufacturer.phone}}</td>

<tr><th><h4>Email</h4> </th> <td><a href='mailto:{{manufacturer.email}}'>{{manufacturer.email}}</a></td>

<tr><th><h4>Website</h4> </th>  <td><a href='//{{manufacturer.website}}' target=_blank>{{manufacturer.website}}</a></td>

</table>                

<a href='/manufacturers/{{manufacturer.id}}/edit' class='sexy-button'>Edit details</a>

</div>

{% endblock %}
