
body {

    font-family: 'Lobster', cursive;
    background-color: rgb(255, 236, 209);
    border: 5px solid rgb(120, 41, 15);
    border-radius: 20px;
    margin: 20px 150px 20px 150px;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(0, 21, 36);
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

body > header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 21, 36);
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    margin: 10px 10px;
}

body > header > div {
    color: white;
    font-size: large;
    background-color: rgb(21, 97, 109);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 5px solid rgb(255, 125, 0);
    text-shadow: 2px 2px black;
}

/* body > header > nav {
    background-color: rgb(120, 41, 15);
    padding: 50px;
} */

body > header > nav >ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:
}

.gallery {
    display: grid;
    grid-template-areas:
    'header header header'
    'img1 img2 img3'
    'img4 img5 img6';
    justify-items: center;
    align-items: center;
}

.gallery > h2 {
    grid-area: header;
}

#img1 {
    max-width: 100%;
    height: auto;
    grid-area: img1;
    border-radius: 10px;
    margin: 5px;
}
#img2 {
    max-width: 100%;
    height: auto;
    grid-area: img2;
    border-radius: 10px;
    margin: 5px;
}
#img3 {
    max-width: 100%;
    height: auto;
    grid-area: img3;
    border-radius: 10px;
    margin: 5px;
}
#img4 {
    max-width: 100%;
    height: auto;
    grid-area: img4;
    border-radius: 10px;
    margin: 5px;
}
#img5 {
    max-width: 100%;
    height: auto;
    grid-area: img5;
    border-radius: 10px;
    margin: 5px;
}
#img6 {
    max-width: 100%;
    height: auto;
    grid-area: img6;
    border-radius: 10px;
    margin: 5px;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about > img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin: 100px 30px 30px 30px;

}

#about > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sexy-button {
    color: white;
    text-decoration: none;
    font-size: large;
    background-color: rgb(21, 97, 109);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 5px solid rgb(255, 125, 0);
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px black;
}

.edit-form {
    text-align: center;
}


.info-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px 500px 20px 300px;
}

#low-mileage {
    color: green;
}

#high-mileage {
    color: red;
}
