{% extends 'base.html' %}
{% block content %}



<section class="gallery">
    <h2>Some of the cars we have previously sold</h2>
    <img id='img1' src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.0-9/59153037_2151225584932963_6304486269351100416_o.jpg?_nc_cat=111&ccb=2&_nc_sid=cdbe9c&_nc_ohc=wxxVC7rt_4gAX8ZeNeJ&_nc_ht=scontent-lhr8-1.xx&oh=762fc66abaf327ab7ef49cac9599af7c&oe=5FFFD6C6" alt='Alfa Romeo 1750 GTV' width="400">
    <img id='img2'src="https://scontent-lhr8-1.xx.fbcdn.net/v/t31.0-8/13603802_1038977826157750_69164849127962685_o.jpg?_nc_cat=102&ccb=2&_nc_sid=cdbe9c&_nc_ohc=Di_R4sqZx9sAX-jYLdw&_nc_ht=scontent-lhr8-1.xx&oh=46a4c806b7f801c51149d2440dbe92d4&oe=5FFD32B0" alt='Alfa Romeo 1750 GTV' width="400">
    <img id='img3'src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.0-9/65440669_2258158414239679_2126610437653921792_o.jpg?_nc_cat=102&ccb=2&_nc_sid=cdbe9c&_nc_ohc=xgtu0pWSrOAAX9YYDsH&_nc_ht=scontent-lhr8-1.xx&oh=0200e4560d3f750cdc6f0976c52aa47a&oe=5FFDD23B" alt='Alfa Romeo 1750 GTV' width="400">
    <img id='img4'src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.0-9/59273957_2151226051599583_7143174793917890560_o.jpg?_nc_cat=107&ccb=2&_nc_sid=cdbe9c&_nc_ohc=d7zHuO7xL1AAX9rJeP_&_nc_ht=scontent-lhr8-1.xx&oh=e548254e089c8373dc4c11479c867aba&oe=5FFF1D1C" alt='Alfa Romeo 1750 GTV' width="400">
    <img id='img5'src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/37283345_1733257830063076_87523449148276736_o.jpg?_nc_cat=106&ccb=2&_nc_sid=cdbe9c&_nc_ohc=juSMIFUryTgAX_uM_wC&_nc_ht=scontent-lht6-1.xx&oh=8226f5dc38f68db11ae1a2c72d942799&oe=600013C3" alt='Alfa Romeo 1750 GTV' width="400">
    <img id='img6'src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.0-9/59301492_2151236851598503_3302565503976865792_o.jpg?_nc_cat=109&ccb=2&_nc_sid=cdbe9c&_nc_ohc=AtxR0ZWAX7gAX8kqqCu&_nc_ht=scontent-lhr8-1.xx&oh=f4633a4285bed8bb5302ae525e3a4866&oe=5FFF07F9" alt='Alfa Romeo 1750 GTV' width="400">
</section>

<section id='about'>
    <img src='static/images/garage.jpg' alt='Picture of the garage' width="400" id="garage-image">
    <article>
        <h2>About Angelo's Garage</h2>
        <p>Welcome to Angelo's Garage, unbeatable deals on classic and performance cars.</p>
        <p>We are based in Edinburgh, Scotland and over the past 14 years have been striving to provide the best used classic car sales, service and care in the market.</p>
        <p>We carry out extensive preparation on our vehicles and can confidently say, we provide an un-matched service in this regard.</p>
        <p>As well as sales, we also offer servicing, from minor services all the way to major services including upgrade works to enhance the performance of your sports car.</p>
    </article>
</section>

<!-- <div class='bottom-links'>
<a href='/cars' class='sexy-button'>Cars</a><br>
<a href='/manufacturers' class='sexy-button'>Manufacturers</a><br>
</div> -->




{% endblock %}
