{% extends 'base.html' %}
{% block content %}

<div id='home'>
    <img src='static/images/garage.jpg' alt='Picture of the garage' width="400" id="garage-image">
    <section id='about'>
        <h2>About Angelo's Garage</h2>
        <p>Welcome to Angelo's Garage, unbeatable deals on classic and performance cars. We are based in Edinburgh, Scotland and over the past 14 years have been striving to provide the best used classic car sales, service and care in the market.</p>
        <p>We carry out extensive preparation on our vehicles and can confidently say, we provide an un-matched service in this regard. As well as sales, we also offer servicing, from minor services all the way to major services including upgrade works to enhance the performance of your sports car.</p>
    </section>
</div>


<!-- <div class='bottom-links'>
<a href='/cars' class='sexy-button'>Cars</a><br>
<a href='/manufacturers' class='sexy-button'>Manufacturers</a><br>
</div> -->




{% endblock %}
