{% extends 'base.html' %}
{% block content %}

<div id='home_grid_container'>
    <section id="garage-image"></section>
    <section id='about'>
        <h3>About Angelo's Garage</h3>
        <p>Welcome to Angelo's Garage, unbeatable deals on classic cars. We are based in Edinburgh, Scotland and over the past 14 years have been striving to provide the best used classic car sales, service and care in the market. Year upon year, we have grown to accommodate for the Japanese used performance car market.</p>
        <p>We are importing the highest quality fresh imports directly from Japan. We carry out extensive preparation on our vehicles and can confidently say, we provide an un-matched service in this regard. As well as sales, we also offer servicing, from minor services all the way to major services including upgrade works to enhance the performance of your sports car.</p>
    </section><br>
    <a href='/inventory' id='inventory-link'>Inventory</a><br>
    <a href='/manage' id='manage-link'>Manage Stock</a><br>
</div>

{% endblock %}
