{% extends 'base.html' %}
{% block content %}
    
<form class='edit-form info-container' action='/cars/{{car.id}}' method="POST">

<table>
<tr><th><label for='name'>Manufacturer:</label></th>
<td><select id="name" name="manufacturer_id">
{% for manufacturer in all_manufacturers %}
    <option value="{{ manufacturer.id }}"
    {% if car.manufacturer.id == manufacturer.id %} selected='selected' {% endif %}>
    {{ manufacturer.name }}
    </option>
{% endfor %}
</select></td></tr>


<tr><th><label for='model'>Model:</label></th>
<td><input type='text' id='model' name='model' value={{car.model}} required></td></tr>

<tr><th><label for='engine_size'>Engine Size:</label></th>
<td><input type='text' id='engine_size' name='engine_size' value={{car.engine_size}} required></td></tr>

<tr><th><label for='colour'>Colour:</label></th>
<td><input type='text' id='colour' name='colour' value={{car.colour}} required></td></tr>

<tr><th><label for='mileage'>Mileage:</label></th>
<td><input type='text' id='mileage' name='mileage' value={{car.mileage}} required></td></tr>

<tr><th><label for='year'>Year:</label></th>
<td><input type='text' id='year' name='year' value={{car.year}} required></td></tr>

<tr><th><label for='purchase_cost'>Purchase Cost:</label></th>
<td><input type='text' id='purchase_cost' name='purchase_cost' value={{car.purchase_cost}} required></td></tr>

<tr><th><label for='selling_price'>Selling Price:</label></th>
<td><input type='text' id='selling_price' name='selling_price' value={{car.selling_price}}  required></td></tr>

</table>

<button type="submit" class='sexy-button'>Submit changes</button>

</form>

{% endblock %}
