{% extends 'base.html' %}
{% block content %}
    
<form action='/cars/{{car.id}}' method="POST">
<label for='name'>Manufacturer:</label>
<select id="name" name="manufacturer_id">
{% for manufacturer in all_manufacturers %}
    <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
{% endfor %}
</select>
<br><br>
<label for='model'>Model:</label>
<input type='text' id='model' name='model' value={{car.model}} required>
<br><br>
<label for='engine_size'>Engine Size:</label>
<input type='text' id='engine_size' name='engine_size' value={{car.engine_size}} placeholder='Example: 2500cc' required>
<br><br>
<label for='colour'>Colour:</label>
<input type='text' id='colour' name='colour' value={{car.colour}} required>
<br><br>
<label for='mileage'>Mileage:</label>
<input type='text' id='mileage' name='mileage' value={{car.mileage}} placeholder='in km' required>
<br><br>
<label for='year'>Year:</label>
<input type='text' id='year' name='year' value={{car.year}} required>
<br><br>
<label for='purchase_cost'>Purchase Cost:</label>
<input type='text' id='purchase_cost' name='purchase_cost' value={{car.purchase_cost}} required>
<br><br>
<label for='selling_price'>Selling Price:</label>
<input type='text' id='selling_price' name='selling_price' value={{car.selling_price}}  required>
<br><br>
<button type="submit" class='button'>Add Car</button>

</form>

{% endblock %}
